@use "../util" as *;

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
  font-weight: 800;
  font-size: rem(20);
  color: var(--black);

  @include breakpoint(large) {
    font-size: rem(24);
  }
}

p {
  margin: 0;
  font-weight: 500;
  font-size: rem(14);
  line-height: 1.5;

  @include breakpoint(large) {
    font-size: rem(16);
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
}
